*{
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
	padding: 0;
	margin: 0;
} 
 body {
	font-family: 'Raleway', sans-serif;  
	overflow-x: hidden;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
} 
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
} 
.active {
	background-color: rgba(255, 255, 255, .2);
}