.nav {  
  li{
    display: inline-block;    
    &:last-of-type {
      margin-right: 0;
    }      
  }
  a {
    padding: 10px;            
    transition: .5s; 
    letter-spacing: 2px;                
    &:hover {
      background-color: rgba(255, 255, 255, .2);
      font-weight: bold;        
    }    
  }
}
