.nav {
  @media all and (max-width: 390px) {
    margin: 20px 0;
  }  
  li{
    display: inline-block;    
    &:last-of-type {
      margin-right: 0;
    }      
  }
  a {
    padding: 10px;            
    transition: .5s; 
    letter-spacing: 2px;
    border-radius: 5px;                
    &:hover {
      background-color: rgba(255, 255, 255, .2);
      font-weight: 600;        
    }    
  }
}
