$nav_link_bg: #1a4788;
@import 'basic';
@import 'header';
@import 'nav';
@import 'footer';

.page-header {
  background-color: #000;
}
.total-power {
  h1 {
    text-align: center;
  }
  .power-consumption {
    display: flex;
  }
  .millennium-falcon {
    width: 50%;
    text-align: center;
    cursor: pointer;
    }
  .lightsaber {
    @extend .millennium-falcon;
    }
  img{
    border-radius: 50%;
    border: 1px solid gray;
    width: 300px;
    height: 300px;
    object-fit: scale-down;
    max-width: 100%;
    }
    .green-border {
      border: 2px solid green;
    }
    .gray-border {
      border: 2px solid gray;
    }
    .yellow-bg {
      background: yellow;
    }
  
}
.total-power {
  padding: 50px 0;
  h1 {
    margin: 25px 0;
  }
}