$nav_link_bg: #1a4788;
@import 'basic';
@import 'header';
@import 'nav';
@import 'footer';
.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url('../img/power.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
}
.text-section {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  .col {
    margin-right: 80px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
